<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles/styles.css">
    <link rel="shortcut icon" href="./assets/Logo-Amazing-Events.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/5d4d02f2a3.js" crossorigin="anonymous"></script>
    <title>Upcoming Events</title>
</head>
<body>
  <div id="app" class="text-white">

    
    <header>
        <nav class="navbar bg-secondary ">
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="./assets/Logo-Amazing-Events.png" alt="Bootstrap" width="120" height="40">
            </a>
            <nav class="navbar navbar-expand-lg bg-secondary">
                <div class="container-fluid">
                  
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
                    <span class="navbar-toggler-icon" ></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active text-dark" style="font-weight:500;" aria-current="page" href="./home.html">Home</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link active text-dark" style="font-weight:500;" aria-current="page" href="#">Upcoming Events</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link active text-dark" style="font-weight:500;" aria-current="page" href="./past-events.html">Past Events</a>
                            </li>
                          <li class="nav-item">
                            <a class="nav-link text-dark" style="font-weight:500;" href="./contact.html">Contact</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link text-dark" style="font-weight:500;" href="./stats.html">Stats</a>
                          </li>
                          
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
        </nav>
        
    </header>
    <main id="main">
      
        <div class="carousel-inner">
              <div class="carousel-item active">
                <h1 class="d-block w-1000 text-secondary" style="font-size: 4rem ;" >Upcoming Events</h1>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
      <section id="check-search">
        <div id="checkbox">
          
        </div>
        <div class="search">
            <form id="search" class="d-flex input-search" role="search">
                <input @keyup="filtrar" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" v-model="input">
            </form>
        </div> 
      </section>

      <div class="text-white">
        <div id="contenedor-check" class="d-flex flex-wrap gap-3 p-3">
          <div class="form-check form-switch" v-for="category in category">
            <input class="form-check-input" type="checkbox" role="switch" :id="category" :value="category" v-model="categoriasSelected">
            <label class="form-check-label" :for="category">{{category}}</label>
          </div>
        </div>
      </div>

      
        <section class="cards-section">
          <div class="card" style="width: 18rem;" v-for="carta in upcomingEvents">
            <img :src="carta.image" class="card-img-top" alt="{{carta.name}}"> 
            <div class="card-body text-black">
              <h5 class="card-title">{{carta.name}}</h5>
              <p class="fw-bolder text-end">Category: {{carta.category.toUpperCase()}} </p>
              <p class="card-text">{{carta.description}}</p>
              <p class="valor-card" >${{carta.price}}
              <a href="#" class="btn btn-primary" id="btn-view">View more...</a>
            </div>
          </div>
        </section>
        <p v-if="upcomingEvents.length == 0" class="text-white display-1 fw-bolder text-center">There are no related searches</p>

        
    </main>
    <footer>
      <div>
        <a href="#"> <img src="./assets/instagram.png" alt="instagram" style="width: 50px"> </a>
        <a href="#"> <img src="./assets/fb.png.png" alt="facebook" style="width: 45px;" > </a>
        <a href="#"> <img src="./assets/wsp.png" alt="whatsapp" style="width: 45px;"> </a>
      </div>
      <div>
        <h2 id="tituloCohort">Cohort 37-38</h2>
      </div>
    </footer>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./js/upcoming-events.js"></script>
</body>
</html>